body {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.button-atas {
    width: 80%;
    margin: 0 auto;
    overflow: auto; 
}

.atas {
    display: inline-block;
    padding: 10px 20px;
    background-color: #013880;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14pt;
}

.edit {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(227, 170, 0);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10pt;
}

.hapus {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(196, 0, 0);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10pt;
}

.judul {
    background-color: #013880;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10pt;
    padding: 0 20px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #013880;
    font-size: 14pt;
    font-weight: normal;
}


table {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;
    background-color: white;
}

table th, table td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #013880;
    color: white;
    font-size: 14pt;
}


input[type="button"], a {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14pt;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
}

.form-container {
    width: 60%;
    margin-left: 125px;
    margin-bottom: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 14pt;
    box-sizing: border-box;
  }

  input[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #013880;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }