body {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: yellow;
    text-align: center;
}

.judul {
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

table { 
    margin: 0 auto;
    text-align: left;
}

input[type="text"], select {
    padding: 5px;
    font-size: 15pt;
    margin-right: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="button"], input[type="submit"] {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15pt;
    border-radius: 10px;
    border: none;
    background-color: rgb(203, 203, 203);
}

td {
    vertical-align: top;
}

form {
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
}

input#hitung {
    position: relative;
    left: 58px;
}

select {
    width: 150px;
    padding: 5px;
    font-size: 15pt;
}